@use "../../../styles/styling" as styling;

.category-heading {
  text-align: center;
  @include styling.mobile {
    font-size: styling.$mobile-font;
  }
  @include styling.tablet {
    font-size: styling.$tablet-font;
  }
}

.categories-container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  > * {
    background-color: cadetblue;
    font-size: large;
    padding: 25px;
    border: chartreuse 4px solid;
    @include styling.button-active;
  }
  > :not(:first-child) {
    margin-top: 25px;
  }
}
