@mixin mobile {
  @media screen and (max-width: 550px) {
    @content;
  }
}

$mobile-font: 1.5rem;

@mixin tablet {
  @media screen and (min-width: 551px) {
    @content;
  }
}

$tablet-font: 2rem;

@mixin full {
  @media screen and (min-width: 1001px) {
    @content;
  }
}

@mixin button-active {
  &:hover {
    cursor: pointer;
  }
  &:active {
    box-shadow: 8px 8px #666;
    transform: translatex(7px);
  }
}
