.input-container {
  display: flex;
  column-gap: 10px;
  width: 100%;
  flex-basis: 5%;
  justify-content: center;
  .inputfield {
    width: 30%;
    min-width: fit-content;
    border: 3px solid black;
  }
}
