@use "../styles/styling" as styling;

.MainMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  .title-heading {
    text-align: center;
    @include styling.mobile {
      font-size: styling.$mobile-font;
      margin-bottom: 0;
    }
    @include styling.tablet {
      font-size: styling.$tablet-font;
      margin-bottom: 0;
    }
  }
}
.gamecontainer {
  height: 100%;
}
