@use "../../styles/styling" as styling;

.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  @include styling.full {
    row-gap: 25px;
  }
  h1 {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    @include styling.mobile {
      font-size: styling.$mobile-font;
      margin-top: 5px;
    }
    @include styling.tablet {
      font-size: styling.$tablet-font;
      margin-top: 5px;
      margin-bottom: 0;
    }
  }
}

.lettercontainer {
  display: flex;
  height: 50px;

  :not(:last-child) {
    margin-right: 10px;
  }
  p {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.letters {
  opacity: 0;
}

.box {
  width: 30px;
  border-bottom: 2px solid black;
}

.correct-answer {
  color: rgb(1, 92, 21);
}

//firework animation

.firework {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: scale(1);
}
.firework-element {
  position: absolute;
  left: -2px;
  bottom: 0;
  width: 4px;
  height: 50px;
  transform-origin: 50% 100%;
  overflow: hidden;
}

$degree: 0;

@for $i from 1 through 12 {
  .firework-element:nth-child(#{$i}) {
    transform: rotate(#{$degree}deg) translateY(-15px);
  }
  $degree: $degree + 30;
}

.firework-element::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 25px;
  background-color: green;
}

@keyframes fireworkanimation {
  0% {
    top: 100%;
  }
  33%,
  100% {
    top: -50%;
  }
}

#firework1,
.firework-element::before {
  animation: fireworkanimation 1.5s ease-in-out infinite;
}
