.letters {
  opacity: 0;
}

.box {
  width: 30px;
  border-bottom: 2px solid black;
}

.skip-button {
  flex-basis: 5%;
  border: darkslategray;
  border-style: solid;
  background-color: chocolate;
  width: 200px;

  .skip-text-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    .text {
      font-size: 1rem;
      font-weight: 600;
    }
    .arrow {
      font-size: 2rem;
      color: darkturquoise;
    }
  }
  &:hover,
  &:active {
    cursor: pointer;
    .arrow {
      margin-left: 20px;
      color: darkturquoise;
    }
    .text {
      color: aquamarine;
    }
  }
}

.next-button {
  background-color: cyan;
  width: 200px;
  border: solid 2px darkslategray;
  flex-basis: 5%;
  font-size: large;
  &:hover {
    cursor: pointer;
  }
}

.return-main {
  background-color: darkcyan;
  width: 200px;
  border: solid 2px darkslategray;
  font-size: large;
  &:hover {
    cursor: pointer;
  }
}
